body {
  height: 500px;
  width: 300px;
  margin: auto;
  margin-top: 10%;
}

.game {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
 background-image: url("../assets/mountainbackground.png");

}


#score {
  position: absolute;
  left: 75%;
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;

}

#startGameButton {
  position: absolute;
  top: 45%;
  left: 40%;
  color : white;
  background-color: #c39c7b;
  border-radius: 30%;
  height: 40px;
  width: 100px;
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#startGameButton:hover {
  background-color: #ff7f7f;
}

#bee {
  position: relative;
  left: 20%;
  top: 230px;
}

#gameOver {
  color: #ff7f7f;
   font-family: "Comic Sans MS", "Comic Sans", cursive;
   top: 25%;
  left: 30%;
  position: absolute;
}

#generateSpikes {
  color: white;
font-size: 30px;
}


@-webkit-keyframes firstBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes firstBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes firstBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes secondBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes secondBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes secondBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.firstBlink {
    -webkit-animation: firstBlink 0.1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation: firstBlink 0.1s;
    -moz-animation-iteration-count: 1;
    -o-animation: firstBlink 0.1s;
    -o-animation-iteration-count: 1;
}

.secondBlink {
    -webkit-animation: secondBlink 0.1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation: secondBlink 0.1s;
    -moz-animation-iteration-count: 1;
    -o-animation: secondBlink 0.1s;
    -o-animation-iteration-count: 1;
}
