body {
  height: 500px;
  width: 300px;
  margin: auto;
}

.game {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #e8f4f8;
}

#score {

  color: black;
}

#startGameButton {

  color : red;
  background-color: white;
  padding: 3px;
}